# baidu spider
#Deny From 180.76.5

# Expire headers
# Source: http://www.vtek.nl/solution-for-slow-redmine-performance/
### TODO: Turn this on after migration is completed
ExpiresActive On
<FilesMatch "\.(js|css|jpg|jpeg|gif|png)$">
	ExpiresDefault "access plus 1 day"
</FilesMatch>

# General Apache options
<IfModule mod_fastcgi.c>
	AddHandler fastcgi-script .fcgi
</IfModule>
<IfModule mod_fcgid.c>
	AddHandler fcgid-script .fcgi
</IfModule>
<IfModule mod_cgi.c>
	AddHandler cgi-script .cgi
</IfModule>
Options +FollowSymLinks +ExecCGI

# If you don't want Rails to look in certain directories,
# use the following rewrite rules so that Apache won't rewrite certain requests
# 
# Example:
#   RewriteCond %{REQUEST_URI} ^/notrails.*
#   RewriteRule .* - [L]

# Redirect all requests not available on the filesystem to Rails
# By default the cgi dispatcher is used which is very slow
# 
# For better performance replace the dispatcher with the fastcgi one
#
# Example:
#   RewriteRule ^(.*)$ dispatch.fcgi [QSA,L]
RewriteEngine On

# Skip rewriting in /scripts/
RewriteRule ^scripts/ - [L]

# Redirect old (renamed) project URLs
RewriteRule ^projects/team-infrastructure(.*)$ /projects/team-server-public$1 [R=301,L]
RewriteRule ^projects/typo3-v5-core(.*)$ /projects/typo3neos-team$1 [R=301,L]
RewriteRule ^projects/typo3-v5(.*)$ /projects/typo3neos$1 [R=301,L]
RewriteRule ^projects/package-typo3-flow3(.*)$ /projects/package-typo3-flow$1 [R=301,L]
RewriteRule ^projects/package-typo3-typo3(.*)$ /projects/package-typo3-neos$1 [R=301,L]
RewriteRule ^projects/package-typo3-neos-contenttypes(.*)$ /projects/package-typo3-neos-nodetypes$1 [R=301,L]
RewriteRule ^projects/package-twitter-bootstrap(.*)$ /projects/package-typo3-twitter-bootstrap$1 [R=301,L]
RewriteRule ^projects/package-imagine(.*)$ /projects/package-typo3-imagine$1 [R=301,L]

# If your Rails application is accessed via an Alias directive,
# then you MUST also set the RewriteBase in this htaccess file.
#
# Example:
#   Alias /myrailsapp /path/to/myrailsapp/public
#   RewriteBase /myrailsapp

RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
<IfModule mod_fastcgi.c>
	RewriteRule ^(.*)$ dispatch.fcgi [E=X-HTTP_AUTHORIZATION:%{HTTP:Authorization},QSA,L]
</IfModule>
<IfModule mod_fcgid.c>
	RewriteRule ^(.*)$ dispatch.fcgi [E=X-HTTP_AUTHORIZATION:%{HTTP:Authorization},QSA,L]
</IfModule>
<IfModule mod_cgi.c>
	RewriteRule ^(.*)$ dispatch.cgi [E=X-HTTP_AUTHORIZATION:%{HTTP:Authorization},QSA,L]
</IfModule>

# In case Rails experiences terminal errors
# Instead of displaying this message you can supply a file here which will be rendered instead
# 
# Example:
#   ErrorDocument 500 /500.html

ErrorDocument 500 "<h2>Application error</h2>Rails application failed to start properly"
